@media screen and (max-width: 1020px) {

  /* CLASSES GERAIS */

  .flex {
    display: flex;
    flex-direction: column;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* Esconde o checkbox real */
  #menu-toggle {
    display: none;
  }

  /* Esconde o botão abrir menu no desktop */
  .btn-abrir-menu {
    display: none;
  }


  /* Mostra o botão abrir menu no mobile */
  .btn-abrir-menu {
    display: block;
    font-size: 40px;
    color: red;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100001;
  }

  /* Menu mobile escondido inicialmente */
  .menu-mobile {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    z-index: 100000;
  }

  /* Quando o checkbox estiver marcado, mostra o menu */
  #menu-toggle:checked~.menu-mobile {
    transform: translateX(0);
  }

  /* Botão fechar */
  .btn-fechar {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .btn-fechar i {
    color: red;
    font-size: 30px;
  }

  /* Estilização do menu */
  .menu-mobile nav ul {
    list-style: none;
    padding: 0;
  }

  .menu-mobile nav ul li a {
    display: block;
    color: white;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 300;
  }

  .menu-mobile nav ul li a:hover {
    background-color: red;
    color: black;
  }


  /* TOPO DO SITE */
  .topo-do-site {
    padding: 20px 8%;
  }


  .topo-do-site h1 {
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .topo-do-site p {
    font-size: 22px;
    text-align: center;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 0;
    margin-top: 0;
    animation: flutuar 2s ease-in-out infinite alternate;
  }


  /* SOBRE */
  section.sobre {
    padding: 80px 8%;
    margin-top: 0;
    padding-top: 2px;
  }

  .sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
  }

  .sobre .txt-sobre p {
    font-size: 22px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
    padding: 25px;
  }

  .img-sobre img {
    width: 100%;
  }

  /* PORTFÓLIO */
  section.portifolio {
    padding: 80px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    align-items: center;
  }

  section.portifolio .flex {
    gap: 60px;
    flex-direction: column;
    align-items: center;
  }

  /* RODAPÉ */
  footer .flex {
    flex-direction: column;
    gap: 30px;
  }
  


  footer .line-footer {
    text-align: center;
  }

  /* AJUSTES GERAIS */
  body {
    overflow-x: hidden;
  }

}

  /* MOBILE */
  @media screen and (max-width: 768px) {

    section .topo-do-site .flex {
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      gap: 20px;
  
    }


    .topo-do-site .img-topo-site img {
      max-width: 300px;
      width: 100%;
      margin: 0;
    }

    .topo-do-site h1 {
      font-size: 28px;
       line-height: 34px;
       margin-bottom: 10px;
      
    }

    .topo-do-site p {
      font-size: 18px;
      text-align: center;
       margin: 20px 0;
    }

    .topo-do-site .txt-topo-site {
        max-width: 100%;
    }

    /* Botão de abrir menu visível no mobile */
    .btn-abrir-menu {
      display: block;
      font-size: 40px;
      color: red;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100001;
    }

  } 
