@media screen and (max-width: 1020px){
    
    /* CLASSES GERAIS */

    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
    /* Esconde o checkbox real */
#menu-toggle {
  display: none;
}

/* Esconde o botão abrir menu no desktop */
.btn-abrir-menu {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  /* Mostra o botão abrir menu no mobile */
  .btn-abrir-menu {
    display: block;
    font-size: 40px;
    color: red;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100001;
  }

  /* Menu mobile escondido inicialmente */
  .menu-mobile {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    z-index: 100000;
  }

  /* Quando o checkbox estiver marcado, mostra o menu */
  #menu-toggle:checked ~ .menu-mobile {
    transform: translateX(0);
  }

  /* Botão fechar */
  .btn-fechar {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .btn-fechar i {
    color: red;
    font-size: 30px;
  }

  /* Estilização do menu */
  .menu-mobile nav ul {
    list-style: none;
    padding: 0;
  }

  .menu-mobile nav ul li a {
    display: block;
    color: white;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 300;
  }

  .menu-mobile nav ul li a:hover {
    background-color: red;
    color: black;
  }
}

    /* TOPO DO SITE */
section .topo-do-site .flex {
    gap: 70px;
}

section.topo-do-site{
    padding: 20px 8%;
}

.topo-do-site h1{
    font-size: 30px;

}

.topo-do-site p{
    font-size: 22px;
    text-align: center;
    justify-content: center;
}

 .topo-do-site .img-topo-site img {
    width: 100%;

 }

 /* SOBRE */
 section .sobre {
    padding: 80px 8%;
}

.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
     text-align: center;
    
}

.sobre .txt-sobre p {
    font-size: 22px;
    text-align: center;
    justify-content: center;
}

.btn-social{
    text-align: center;
    padding: 25px;

}

.img-sobre img{
    width: 100%;
  
}

/* PORTIFOLIO */
section.portifolio {
    padding: 80px 8%;   
   
}

.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    
}

section.portifolio .flex {
    gap: 60px;
}

/* RODAPE */
footer .flex{
    flex-direction: column;
    gap: 30px;
}

footer .line-footer{
  text-align: center;
   
}

}